# DATA PREPROCESSING AND DATA CLEANING:

In [1]:
import pandas as pd
import numpy as np

In [2]:
Data = pd.read_csv('mental_health.csv')
Data.head()

                                                text  label
0  dear american teens question dutch person hear...      0
1  nothing look forward lifei dont many reasons k...      1
2  music recommendations im looking expand playli...      0
3  im done trying feel betterthe reason im still ...      1
4  worried  year old girl subject domestic physic...      1

In [3]:
Data.tail()

                                                    text  label
27972  posting everyday people stop caring  religion ...      0
27973  okay definetly need hear guys opinion ive pret...      0
27974  cant get dog think ill kill myselfthe last thi...      1
27975  whats point princess bridei really think like ...      1
27976  got nudes person might might know snapchat do ...      0

In [4]:
Data.shape

(27977, 2)

In [5]:
Data.isnull().sum()

text     0
label    0
dtype: int64

In [6]:
Data.size

55954

In [7]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27977 entries, 0 to 27976
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    27977 non-null  object
 1   label   27977 non-null  int64
dtypes: int64(1), object(1)
memory usage: 437.3+ KB

In [8]:
Data.columns

Index(['text', 'label'], dtype='object')

In [9]:
Data['label'].unique()

array([0, 1], dtype=int64)

In [10]:
Data['label'].value_counts()

label
0    14139
1    13838
Name: count, dtype: int64

In [11]:
Data.groupby('label').describe()

        text
       count unique                                                top freq
label
0      14139  14134                  real suppleroot hours  up day far    3
1      13838  13838  nothing look forward lifei dont many reasons k...    1

#### BEFORE LABEL ENCODER

In [12]:
Data.head()

                                                text  label
0  dear american teens question dutch person hear...      0
1  nothing look forward lifei dont many reasons k...      1
2  music recommendations im looking expand playli...      0
3  im done trying feel betterthe reason im still ...      1
4  worried  year old girl subject domestic physic...      1

In [13]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['text','label']
le = LabelEncoder()
for i in var_mod:
    Data[i] = le.fit_transform(Data[i]).astype(int)

C:\Users\SPIRO-11\anaconda3\envs\iyy\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\SPIRO-11\anaconda3\envs\iyy\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\SPIRO-11\anaconda3\envs\iyy\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\SPIRO-11\anaconda3\envs\iyy\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

#### AFTER LABEL ENCODER

In [14]:
Data.head()

    text  label
0   4476      0
1  17788      1
2  16938      0
3  11863      1
4  27355      1

In [15]:
Data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
27972    False
27973    False
27974    False
27975    False
27976    False
Length: 27977, dtype: bool

In [16]:
Data.duplicated().sum()

5

In [17]:
Data = Data.drop_duplicates()

In [18]:
Data.duplicated().sum()

0